{% extends "base.html" %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/jquery.gridster.min.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/dashboard.css')}}">
{% endblock %}

{% block content %}
  <div class="head">
  <h1>{{ title }}</h1>
  </div>

  <div id="query">
    Show:
    <select id="sel-anal" name="analysis">
      <option value="count">Total</option>
      <option value="average">Average</option>
      <option value="maximum">Maximum</option>
      <option value="minimum">Minimum</option>
      <option value="median">Median</option>
      <option value="count_unique">Unique</option>
    </select>
    <select id="initial-subject" name="keys">
      {% for key in keys %}
      <option value="{{ key }}">{{ key }}</option>
      {% endfor %}
      <!-- <option value="gpm">GPM</option>
      <option value="xpm">XPM</option>
      <option value="kills">Kills</option>
      <option value="deaths">Deaths</option>
      <option value="assists">Assists</option>
      <option value="match_id">Match ID</option>
      <option value="winner">Winner</option>
      <option value="faction">Faction</option>
      <option value="match_date">Match Date </option> -->
    </select>
    Filters:
    <div class="filter">
    <select id="initial-key" class="key-selector" name="keys">
      {% for key in keys %}
      <option value="{{ key }}">{{ key }}</option>
      {% endfor %}
      <!-- <option value="gpm">GPM</option>
      <option value="xpm">XPM</option>
      <option value="kills">Kills</option>
      <option value="deaths">Deaths</option>
      <option value="assists">Assists</option>
      <option value="match_id">Match ID</option>
      <option value="winner">Winner</option>
      <option value="faction">Faction</option>
      <option value="match_date">Match Date </option> -->
    </select>

    <select id="initial-operator" class="op-selector" name="operators">
    <option value="gte">&#8805;</option>
      <option value="lte">&le;</option>
      <option value="gt">&gt;</option>
      <option value="lt">&lt;</option>
      <option value="ne">&#8800;</option>
      <option value="eq">=</option>
      <option value="eq">contains</option>
    </select>

    <input id="initial-prop-value" class="prop-val-tb" type="text">

    </div>
    <button id="filter-btn" type="button">Add Filter</button>
    <button id="run" type="button">Try Query</button>
  </div><!-- query -->

  <div class="activefilters">

  </div>

  <div class="gridster">
    <ul>

    </ul>
  </div>
{% endblock %}
{% block scripts %}
  <script src="{{ url_for('static', filename='js/jquery.gridster.min.js')}}"></script>
  <script src="{{ url_for('static', filename='js/fetch.js')}}"></script>
  <script type="text/javascript">
  function makeid()
  {
    var text = "";
    var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

    for( var i=0; i < 16; i++ )
        text += possible.charAt(Math.floor(Math.random() * possible.length));

    return text;
  }

  var def_width = ($( window ).width() / 3) - 20;
  var def_height = 200;
    $(".gridster ul").gridster({
        widget_base_dimensions: [def_width, def_height]
    });

    var gridster = $(".gridster ul").gridster().data('gridster');
 
    var filters = []
    var analysis;
    var chartType;
    var main_target;
    console.log(1);
    $(document).ready(function(){
      console.log(1)
      Keen.ready(function(){

        /*var query = new Keen.Query("count", {
          eventCollection: "matches",
          timeframe: {"start": "01-01-1930T00:00:00Z", "end":"08-17-2014T00:00:00Z"},
          interval: "yearly"
        });

        gridster.add_widget('<li class="new" id="total-games"></li>', 1, 2); 
        keen_client.draw(query, document.getElementById("total-games"),{'title' : 'Total Games Played', 'width' : def_width, 'height' : 400});
        var query = new Keen.Query("count", {
          eventCollection: "matches",
          groupBy: "hero_name"
        });
        gridster.add_widget('<li class="new" id="group-by"></li>', 1, 2); 
        keen_client.draw(query, document.getElementById("group-by"), {'title': 'Heroes Played', 'width' : def_width, 'height' : 400});

        gridster.add_widget('<li class="new" id="average-gpm"></li>', 1, 1);
        fetchKeen('average', 'matches', 'average-gpm', {'chartType': 'metric', 'title': 'Average GPM',  'height' : 1000, 'width' : def_width}, null, 'gpm');

        gridster.add_widget('<li class="new" id="average-xpm"></li>', 1, 1);
        fetchKeen('average', 'matches', 'average-xpm', {'chartType': 'metric', 'title': 'Average XPM',  'width' : def_width}, null, 'xpm');
        
        gridster.add_widget('<li class="new" id="average-kills"></li>', 1, 1);        
        fetchKeen('average', 'matches', 'average-kills', {'chartType': 'metric', 'title': 'Average Kills',  'width' : def_width}, null, 'kills');
        
        gridster.add_widget('<li class="new" id="average-deaths"></li>', 1, 1);
        fetchKeen('average', 'matches', 'average-deaths', {'chartType': 'metric', 'title': 'Average Deaths',  'width' : def_width}, null, 'deaths');
        
        gridster.add_widget('<li class="new" id="average-assists"></li>', 1, 1);          
        fetchKeen('average', 'matches', 'average-assists', {'chartType': 'metric', 'title': 'Average Assists',  'width' : def_width}, null, 'assists');
      });

      */
      });
      $('#initial-subject').prop('disabled', true);

      $('#filter').click(function(){
      event.preventDefault();
      //append to filters
      /*
        filter.push({
          "property_name": value from keys,
          "operator": value from operaotrs,
          "property_value": value from prop-value
        })
      */
      //spawn only keys, operators, and prop-value

      //example
      //filter.push({ "property_name" : "gpm", "operator" : "lte", "property_name" : 1000 })
    });

    $('#run').click(function(){
      //set analysis
      //set chart type
      //set main target using first element of filters
      var analysis = $('#sel-anal').val();
      var randomid = makeid();
      //filters.push({ "property_name" : $('#initial-key').val(), "operator" : $('#initial-operator').val() , "property_value" : $('#initial-prop-value').val() });
      
      if (typeof filters !== 'undefined' && filters.length > 0) {
        gridster.add_widget('<li class="new" id="' + randomid + '"></li>', 1, 1); 
        var title;
        if(analysis == 'count'){
          title = "Total number" + " of " + "{{ event_collect }}" + " where: <br> ";
          jQuery.each( $('.filtertag'), function( i, val ) {
            title = title + "<span class='smalltags'>" + $(this).html() + "</span>";
          });
          
          fetchKeen(analysis, "{{ event_collect }}", randomid, { "title" : title }, filters, null);
          filters = [];
          $('.activefilters').empty();
        }
        else{
          title = analysis + " number of " + $('#initial-subject').val() + " where: <br> ";
          jQuery.each( $('.filtertag'), function( i, val ) {
            title = title + "<span class='smalltags'>" + $(this).html() + "</span> ";
          });
          
          fetchKeen(analysis, "{{ event_collect }}", randomid, { "title" : title }, filters, 
            $('#initial-subject').val());
          filters = [];
          $('.activefilters').empty();
        }
      }
      else {
        alert("Add some filters, yo! :)");
      }

      
    });

    $('#filter-btn').click(function() {
      filters.push({ "property_name" : $('#initial-key').val(), "operator" : $('#initial-operator').val() , "property_value" : $('#initial-prop-value').val() });
      $( ".activefilters" ).append( "<div class='filtertag'>" + $('#initial-key').val() + " " + $('#initial-operator option:selected').text() + " " + $('#initial-prop-value').val() + "</div>" );
    });

  $('#sel-anal').change(function(){
    console.log($(this).val());
    if($(this).val() == "count") {
      $('#initial-subject').prop('disabled', true);
    }
    else {
      $('#initial-subject').prop('disabled', false);
    }
  });

    });
    

  
  </script>
{% endblock %}