{% extends "base.html" %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/index.css')}}">
{% endblock %}

{% block header %}
<h1>
<span class="tru">Tru</span>
<br>
<span class="sight">sight</span>
</h1>
<img class="ts-logo" src="{{ url_for('static', filename='img/tslogo_wa.png')}}">

<h2>Data is easier to understand when you <span>see</span> it.</h2>

<h3><span>Follow</span> me.</h3>
<div id="downcont">
  <img id="downarrow" src="{{ url_for('static', filename='img/down.png')}}">    
</div>



{% endblock %}

{% block content %}
<form name="input" method="post" enctype="multipart/form-data">
  <!-- took out name because let's just make filename into dashboard name for now -->
  <button id="uploadjson" type="button">UPLOAD A JSON FILE</button>
  <input id="fileselect" type="file" name="file" style="display:none">
  <input id="filesubmit" type="submit" value="Submit" style="display:none">
</form>
{% endblock %}

{% block scripts %}

<script type="text/javascript">  

$( document ).ready(function() {
  // fetchKeen();
  $("#downarrow").click(function() {
  $('html, body').animate({
      scrollTop: $(".ts-content").offset().top
  }, 200);
});

  $('#uploadjson').click(function(){
    $( "#fileselect" ).trigger( "click" );
  })

  $( "#fileselect" ).change(function() {
    var iam = $(this).val().toString();
    if(typeof(iam) === "string") {
      if( iam != "" && iam.indexOf('.json') != -1) {
        $( "#filesubmit" ).trigger( "click" ); 
      } 
    }
  });
});
 
</script>
{% endblock %}